<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SushiMIMenu</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/js/site.js" type="text/javascript" defer></script>
</head>
<body>
    <header>

        <div class="navbar">
            <div class="logo"><a href="~/home/index"><img src="~/img/SmallLogo.png" height="110px"></a></div>
            <ul class="links">
                <li>
                    <a href="/Sushi">
                        <img src="~/img/tabs/sushi.png" style="width: 50px;">
                        <p>Суші-роли</p>
                    </a>
                </li>
                <li>
                    <a href="/Sets">
                        <img src="~/img/tabs/sets.png" style="width: 50px;">
                        <p>Сети</p>
                    </a>
                </li>
                <li>
                    <a href="/Hot">
                        <img src="~/img/tabs/hot.png" style="width: 50px;">
                        <p>Гарячі страви</p>
                    </a>
                </li>
                <li>
                    <a href="/Snacks">
                        <img src="~/img/tabs/snacks.png" style="width: 50px;">
                        <p>Закуски</p>
                    </a>
                </li>
                <li>
                    <a href="/Drinks">
                        <img src="~/img/tabs/drink.png" style="width: 50px;">
                        <p>Напої</p>
                    </a>
                </li>

            </ul>

            <button id="open-modal-btn" class="action_btn">Замовлення</button>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"> </i>
            </div>
        </div>
        <div class="dropdown_menu">
            <ul>
                <li><a href="/Sushi">Суші-роли</a></li>
                <li><a href="/Sets">Сети</a></li>
                <li><a href="/Hot">Гарячі страви</a></li>
                <li><a href="/Snacks">Закуски</a></li>
                <li><a href="/Drinks">Напої</a></li>

                <li><button id="open-modal-btn" class="action_btn">Замовлення</button></li>
            </ul>
        </div>



    </header>

    <main>

        <div id="modal-order" class="modal">
            <div class="modal_box">
                <button id="close-modal-btn" class="modal-close-btn">X</button>
                <h2>Ваше замовлення</h2>
                <br>
                <div id="cart-content">
                    <p>Кошик порожній</p>
                </div>
                <br>
                <a href="@Url.Action("Index", "Cart")" class="action_btn">Перейти в кошик</a>
            </div>
        </div>

        @RenderBody()
    </main>

    <footer>
        <div class="footer-cells">
            <h1>Адреса</h1>
            <p>Ресторан <br> Рівне. Вулиця шкільна 19</p>
        </div>
        <div class="footer-cells">
            <h1>Зробити замовлення</h1>
            <p>(099) ххх-хххх <br> (098) ххх-хххх</p>
        </div>
        <div class="footer-cells">
            <h1>Ми працюємо без вихідних</h1>
            <p>Ресторан та доставка 10:30 – 23:00</p>
        </div>
    </footer>



</body>
</html>