@{
    ViewData["Title"] = "Drinks";
}

<div class="catalog">
	@if (Model != null)
	{
		@foreach (var dish in Model)
			@if (dish.Category == "Drinks")
			{
				{
					<div class="block">
						<div class="section1">
							<img class="catalog-img" src="../img/drinks/@(dish.Id).png" alt="">
							<h1 class="description">
								@dish.Name <br> 0.@dish.Weight л <br> @dish.Price грн
							</h1>
						</div>
					</div>
				}
			}
	}
	else
	{
		<p>No data available</p>
	}
</div>