@{
    ViewData["Title"] = "Home Page";
}

<section id="Home">
    <h1>Вітаємо на сайті ресторану SUSHIMI</h1>
</section>

<div class="Logotitle">
    <div class="welcome-text">
        <p>Великій вибір суші, <br>ролів та супів, сети,<br> напої та різні закуски <br>чекаються на вас</p>
    </div>

    <div class="welcome-text">
        <img src="img/Logo.png" height="300px">
    </div>
    <div class="welcome-text">
        <p>Великі гостьові зали,<br> приватні зали<br> а також доставка <br>в межах міста</p>
    </div>
</div>


<section id="Home">
    <h1>SUSHIMI у Рівному</h1>
</section>

<div class="Logotitle">
    <div class="welcome-text">
        <p>Бажаєте смачно поїсти в рівному? <br>Хочете швидко перекустии або ж замовити святковий зал? <br>Звертайтесь до нас, SUSHIMI!</p>
        <p>SUSHIMI - це новий та сучасний ресторан Японської кухні!</p>
        <p>Суші, роли, Оніґірі, супи, Удони,<br> та велика кількість інших страв чекають що б ви їх скуштували</p>
        <p>Куштуйте це все в ресторані, або ж замовляйте безкоштовнку доставку!</p>
        <p>SUSHIMI! - суші для тебе!</p>
    </div>
</div>

<section id="Home">
    <h1>Дякуюємо що вибираєте нас</h1>
</section>
