
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(254, 245, 252);
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

    a:hover {
        color: rgb(12, 2, 27);
    }

header {
    position: relative;
}

.navbar {
    background-color: rgb(29, 29, 29);
    box-shadow: 0px 3px 25px rgb(7, 7, 7);
    height: 120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

    .navbar .links a {
        font-size: 1.5rem;
        font-weight: bold;
        color: rgb(177, 141, 76);
        font-family: 'Caveat', cursive;
    }

    .navbar .links {
        display: flex;
        gap: 5rem;
        align-items: center;
        justify-content: center;
    }

    .navbar .toggle_btn {
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
    }

.action_btn {
    background-color: rgb(254, 245, 252);
    color: rgb(29, 29, 29);
    padding: 1rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

    .action_btn:hover {
        scale: 1.05;
        color: rgb(12, 2, 27);
    }

    .action_btn:active {
        scale: 0.95;
    }

main {
    
    min-height: 721px;
}

section#Home {
    font-family: 'Caveat', cursive;
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(177, 141, 76);
    text-shadow: 0px 5px 5px rgb(0, 0, 0);
}

#Home h1 {
    margin-top: 2vh;
    font-size: 4vw;
    margin-bottom: 2vh;
}

.Logotitle {
    text-shadow: 0px 5px 5px rgb(0, 0, 0);
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0px 3px 25px rgb(7, 7, 7);
}

.welcome-text {
    text-shadow: 0px 5px 5px rgb(0, 0, 0);
    font-family: 'Caveat', cursive;
    color: rgb(254, 245, 252);
    font-size: 3em;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

footer {
    box-shadow: 0px 3px 25px rgb(7, 7, 7);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(29, 29, 29);
    min-height: 100px;
    color: rgb(177, 141, 76);
    text-align: center;
    font-family: 'Caveat', cursive;
}

footer-cells {
    font-size: 1em;
}

/* ¬ипадаюче меню */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(67, 67, 67, 0.35);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

    .dropdown_menu.open {
        height: 270px;
    }

    .dropdown_menu li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dropdown_menu .action_btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

/* √нучкий дизайн */
@media(max-width:992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width:576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}


/*Ѕлок меню*/
.catalog {
    min-height: 721px;
    background-color: rgb(29, 29, 29);
    box-shadow: 0px 3px 25px rgb(7, 7, 7);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block {
    margin-top: 1%;
    text-align: center;
    color: #cbcbcb;
    font-size: 1em;
    font-family: 'Caveat', cursive;
    margin-bottom: 1%;
}


.section1 {
    display: flex;
    justify-content: center;
    border: solid 1px;
    border-radius: 10px;
    border-color: #853552;
    background-color: white;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.catalog-img {
    width: 350px;
}

.description {
    margin-top: 140px;
    font-family: 'Caveat', cursive;
    color: rgb(177, 141, 76);
    font-size: 1em;
    position: absolute;
    opacity: 0;
}

.section1:hover .description {
    text-align: center;
    opacity: 1;
    transition-duration: 0.5s;
}

.section1:hover .catalog-img {
    opacity: 0;
    transition-duration: 0.5s;
}
